body.init {
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
}

.swiper-slide .hello-world {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
}

.swiper-slide .init {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
}

footer {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
}

.swiper-slide img {
    height: 40vh;
}

.swiper-slide .link {
    width: 80%;
}

.swiper-slide pre {
    margin: 0em;
}

