@keyframes init-on-load {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

body {
  animation: 2s ease-out 0s 1 init-on-load;
  -webkit-animation: 2s ease-out 0s 1 init-on-load;
  -moz-animation: 2s ease-out 0s 1 init-on-load;
  -ms-animation: 2s ease-out 0s 1 init-on-load;
}

.swiper-slide img {
    height: 40vh;
}

.swiper-slide .link {
    width: 80%;
}

.swiper-slide pre {
    margin: 0em;
}

